<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Kaique de Souza</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
</head>

<body>

    <!--header design-->
    <header>
        <a href="#" class="logo"><span>K</span>DSP</a>

        <ul class="navlist">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#experience">Experiências</a></li>
            <li><a href="#portfolio">Projetos</a></li>
            <li><a href="#services">Habilidades</a></li>
        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <!--home section design-->
    <section class="home" id="home">
        <div class="home-div">
            <div class="home-text">
                <div class="slide">
                    <span class="one">Olá</span>
                    <span class="two">Eu sou o </span>
                </div>
                <h1>Kaique de Souza</h1>
                <h3>Estudante de<span> programação</span></h3>
                <!--<p><i class="bx bxl-aws" style='color:#fbba16; font-size: 2em; margin-right: 5px;'></i><a class="link"
                        href="https://www.credly.com/badges/db773eb9-df4c-41f1-a42a-b5b2cd08742e/linked_in?t=s8c4oo"
                        target="_blank">1x AWS Certified</a></p>-->
                <div class="button">
                    <a href="#portfolio" class="btn2"><span><i class="bx bx-play"></i></span>Minhas Experiências</a>
                </div>
            </div>
        </div>
    </section>

    <!--about section design-->
    <section class="about" id="about">
        <div class="about-img">
            <img src="/img/IMG_3020.JPG">
        </div>

        <div class="about-text">
            <h2>Sobre <span>Mim</span></h2>
            <h4>Entusiasta da computação em nuvem</h4>
            <p>&bull; Estudante de Analise e Desenvolvimento de Sistemas</p>
            <p>&bull; Técnico em Informática </p>
            <p>&bull; Atualmente procurando uma recolocação no mercado de trabalho, para atuar como desenvolvedor
            </p>
            <!--<p>&bull; <a class="link" href="https://www.efset.org/cert/KjKPY3" target="_blank">C1 Advanced English Level</a></p>
            <p>&bull; Studying Cloud Solutions in AWS and Events-Driven Architecture</p>-->

            <div class="socials">
                <a href="https://www.linkedin.com/in/kaiquedsp/" target="_blank" class="btn-socials"><span><i class="bx bxl-linkedin"></i></span></a>
                <a href="https://github.com/KaiqueSPereira" target="_blank" class="btn-socials"><span><i class="bx bxl-github"></i></a>
                <a href="https://www.tiktok.com/@oi_levi" target="_blank" class="btn-socials"><span><i class="bx bxl-tiktok"></i></i></a>
                <a href="https://www.instagram.com/oi_levi/" target="_blank" class="btn-socials"><span><i class="bx bxl-instagram"></i></i></a>
                <a href="https://wa.link/1rnbp8" target="_blank" class="btn-socials"><span><i class="bx bxl-whatsapp"></i></span></a>
            </div>
        </div>
    </section>

    <!--experience section design-->
    <section class="experience" id="experience">
        <div class="main-text">
            <p>Profissional</p>
            <h2><span>Experiência</span> Profissional</h2>
        </div>

        <div class="timeline">

            <div class="container">
                <img src="/img/santana_parnaba.png">
                <div class="text-box">
                    <small>2017 - <span>Atual</span></small>
                    <h5>Auxiliar Administrativo - <span><b>Prefeitura Municipal de Santana de Parnába</b></span></h5>
                    <p><span>Habilidades:</span> Atendimento ao Publico, Relátorios Técnicos, Treinamento de Usuários, Medição de Conflitos,
                    Departamento Pessoal, Comunicação Acertiva</p>
                </div>
            </div>

           <!-- <div class="container">
                <img src="img/abs.png">
                <div class="text-box">
                    <small>2022 - 2024</small>
                    <h5>Java Engineer - <span><b>Asset Banking System</b></span></h5>
                    <p><span>Stack:</span> Java, Spring Boot, Spring Cloud, SQL Server, MongoDB, S3, Lambda, Docker</p>
                </div>
            </div>

            <div class="container">
                <img src="img/bradesco-seguros.png">
                <div class="text-box">
                    <small>2021 - 2022</small>
                    <h5>IT Intern - <span><b>Bradesco Seguros</b></span> </h5>
                    <p><span>Stack:</span> Scrum, SQL Server, Excel VBA</p>
                </div>
            </div>-->
        </div>
    </section>

    <!--portfolio section design-->
    <section class="portfolio" id="portfolio">
        <div class="main-text">
            <p>Portfolio</p>
            <h2>Ultimos <span>Projetos</span></h2>
        </div>

        <div class="portfolio-content">

            </div>
            <div class="row">
                <img src="/img/IconsProjetos/icon.png">
                <div class="layer">
                    <h5>Mestre das Grelhas</h5>
                    <p>Uma aplicação web para gerenciamento de uma Hamburgeria</p>
                    <a href="/MGrelhas" target="_blank"><i class="bx bx-link-external"></i></a>
                </div>
            </div>

            <div class="row">
                <img src="/img/IconsProjetos/Iconprotuário.png">
                <div class="layer">
                    <h5>Prontuário Eletronico Pessoal</h5>
                    <p>Uma uma aplicação web para salvar informações sobre a sua saude</p>
                    <a href="/Prontuario" target="_blank"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!--about section design-->
    <section class="services" id="services">
        <div class="main-text">
            <p>Tenho Conhecimento</p>
            <h2><span>My</span> Skills</h2>
        </div>

        <div class="services-content">
            <div class="box">
                <div class="s-icons">
                    <i class="bx bxl-java"></i>
                </div>
                <h3>Java</h3>
            </div>

            <div class="box">
                <div class="s-icons">
                    <i class="bx bxl-spring-boot"></i>
                </div>
                <h3>Spring Boot</h3>
            </div>

            <div class="box">
                <div class="s-icons">
                    <i class="bx bx-data"></i>
                </div>
                <h3>SQL Server</h3>
            </div>

            <div class="box">
                <div class="s-icons">
                    <i class="bx bx-loader-circle"></i>
                </div>
                <h3>Agile Frameworks (Scrum)</h3>
            </div>

        </div>
    </section>

    <!--end section design-->
    <section class="end">
        <div class="last-text">
            <p>Copyright &#169; 2024 by Kaique de Souza.</p>
        </div>
    </section>

    <div id="top">
        <a href="#home"><i class="bx bx-up-arrow-alt "></i></a>
    </div>

    <!--custom js link-->
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>