<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mestre das Grelhas</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/img/IconsProjetos/icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="#" class="logo"><span>K</span>DSP</a>

        <ul class="navlist">
            <li><a href="/Portifolio#home">Inicio</a></li>
            <li><a href="/Portifolio#about">Sobre</a></li>
            <li><a href="/Portifolio#experience">Experiências</a></li>
            <li><a href="/Portifolio#portfolio">Projetos</a></li>
            <li><a href="/Portifolio#services">Habilidades</a></li>
        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>
</body>
</html>